authy
ccxt==1.13.7
chromalog
python-digitalocean
jstyleson
motor
multiprocess
numpy
pandas
pymongo
python-dotenv
redis
sanic

# aiohttp
aiohttp
cchardet
aiodns

# ta-lib # Needs to be installed after numpy (in seperated commands)