authy
ccxt==1.14.121
chromalog
jstyleson
motor
multiprocess
numpy
pandas
pymongo
python-dotenv
redis
sanic

# aiohttp
aiohttp
cchardet
aiodns

# ta-lib # Needs to be installed after numpy (in seperated commands)