authy
ccxt==1.14.140
chromalog
jstyleson
matplotlib
motor
multiprocess
numpy
pandas
pymongo
python-dotenv
redis
sanic
ta-lib

# aiohttp
aiohttp
cchardet
aiodns

# ta-lib # Needs to be installed after numpy (in seperated commands)